body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 18, 49);
}

#element {
  background-color: dimgray;
  color: aliceblue;
  font-size: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
